a:hover {
  opacity: .6;
  transition: .25s;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.logo-place-header{
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo-place-header img{
  width: 228px;
  height: 32px;
}

.title-place-header {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
}

.subtitle-place-header {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.main-illustration-place-header {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.rotation{
  position: absolute;
  top: 0;
  right: 0;
}

.rotation>div {
  animation-name: rotation360;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation360 {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

.square-pic-place-header {
  height: 568px;
  width: 568px;
  background: #2f80ed;
  display: block;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

.two-columns {
  display: flex;
  margin: 0 auto;
  padding-top: 100px;
  width: 80%;
  justify-content: space-between;
}

.two-columns-brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:#2f80ed;
}

.two-columns-main-text{
  width: 80%;
  min-width: 784px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.span-accent{
  font-weight: 700;
}

.techniques{
  width: 80%;
  margin: 0 auto;
}

.section-title{
  width: 60%;
  padding: 100px 0 20px 0;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.section-subtitle{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.techniques__cards{
  width: 920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0 100px;
}

.techniques__cards .item{
  text-align: center;
  max-width: 240px;
}

.techniques__cards .item .title, .heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.techniques__cards .item .description{
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 16px;
}

.techniques__cards .image{
  padding: 60px 40px 43px;
}

.techniques__cards img{
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.video__iframes {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: -50px;
}

.oakley{
  background: #F2F2F2;
  padding-top: 110px;
  padding-bottom: 80px;
}

.feynman{
  position: relative;
  background: #F2F2F2;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-top: 110px;
  padding-bottom: 80px;
  text-align: center;
  height: 843px;
  box-sizing: border-box;
}

.feynman__title{
  margin: 0 auto 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.digits{
  padding-bottom: 100px;
}

.table{
  width: 1100px;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  justify-content: space-between;
}

.cell{
  width: 250px;
}

.heading{
  margin-bottom: 20px;
}

.text{
  line-height: 1.2x;
  font-size: 18px;
  font-weight: normal;
}

.text p:not(:first-child){
  margin-top: 20px;
}

.khan{
  background: #F2F2F2;
}

.khan__container{
  padding-top: 105px;
  width: 80%;
  margin: 0 auto;
}

.khan__author{
 line-height: 42px;
 font-size: 30px;
 font-weight: normal;
}

.khan__title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.khan__quote{
  width: 790px;
  margin: 50px 0 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.khan__quote-author-subline{
 margin: 10px 0 68px;
 line-height: 1.15;
 font-size: 24px;
 font-weight: normal;
}

.khan__book-container{
  display: flex;
}

.khan__book-pic{
  width: 620px;
  height: 608px;
  margin-right: 48px;
  overflow: hidden;
  display: inline-block;
}

.khan__book-pic img{
  width: 100%;
  opacity: .9;
}

.khan__buy-link{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.kaufman{
  position: relative;
  background-color: #1f1f1f;
  padding-bottom:90px;
  overflow: hidden;
}

.section-title_theme_dark{
  color: #fff;
  padding-top: 90px;
}

.section-subtitle_theme_dark{
  color: #fff;
}

.table_theme_dark {
  padding-top: 0;
  row-gap: 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman .rotation{
  width: 877px;
  height: 877px;
}

.kaufman *:not(.rotation *,.rotation){
  position: relative;
  z-index: 1;
}

.triangle{
  position: absolute;
  right: -210px;
  border-left: 438.5px solid transparent;
  border-right: 438.5px solid transparent;
  border-bottom: 877px solid #2f80ed;
  z-index: 0;
}

.logo-zone{
  width: 1100px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 217px;
  display: flex;
  justify-content: space-between;
}

.link img{
  width: 270px;
  height: 38px;;
}

.footer{
  display: flex;
  min-height: 350px;
  background: #1D1D1D;
}

.footer .columns{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
}

.column__content-copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer .author{
  color: #fff;
  margin-top:18px;
  margin-bottom:18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer .column-heading{
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer .column-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 16px;
  color: #fff;
}

.footer .column-links a {
  color: #fff;
  line-height: 18px;
  font-size: 16px;
  font-weight: normal;
}

.footer .column-links img{
  width: 16px;
  height: 16px;
  margin-right: 8px;
}